*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

margin: 0;
padding: 0;
border: 0;
}
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family:Purista,sans-serif, arial;
  color: #fff;
  background: #000 url('/assets/bf4/bg.jpg') 50% 0 no-repeat fixed;
  text-transform: uppercase;
}
h1,h2,h3,h4{
	margin: 0;
	padding: 0;
}

input{
	border:solid #fff 1px;
}
input.error {
	border:solid #ff9900 1px;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}
.loading {
	padding: 0;
	display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 7, 7, 0.5);
    height: 80vh;
}
.nav{
	width: 100%;
	background: #181B20;
}
#sub{
	text-align: center;
	line-height: 40px;
	padding: 0 20px;
	margin-top: 10px;
	text-transform: uppercase;
}
#help{
	margin-bottom: 20px;
}
#platform,#soldiername{
	width: 200px;
	height: 35px;
}
.nav .menu{
	/* width: 318px; */
	display: flex;
	margin: 0 auto;
	position: relative;
}
.nav .menu .home {
	display: flex;
}
.nav a{
	line-height: 47px;
	text-decoration:none;
	display: block;
	color: #d5dde5;
	width: 106px;
	text-align: center;
	font-size: 16px;
}
.nav a:hover{
	background: #000;
	color: #fff;
}
#head{
	top: 0;
	width: 100%;
}
#head .game{
	height: 48px;
	background: #000;
}
#about{
	text-transform: none;
}
#donation{
	text-transform: none;
}
#donation form{
	margin: 20px auto;

}
#about h1{
	margin-bottom: 20px;
}

#error{
	color:#ff9900;
}
.left{
	position: absolute;
	top: 0;
	right: 0;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.loadout-container-wpr,.container{
  	margin: 0px auto;
	margin-top: 100px;
  	max-width: 320px;
}
.loadout-kit .picture{
	display: none;

}
.loadout-item-container {
	width: 276px;
}
.loadout-item-name {
    min-height: 12px;
    float: right;
    width: 163px;
}
.loadout-item-name span{
	padding: 6px 5px;
    display: block;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.loadout-item-picture {
    float: left;
    height: 31px;
    width: 64px;
    overflow: hidden;
    display: table;
    padding-left: 5px;
}
.loadout-item-picture-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding-top: 1px;
}
.loadout-item-info {
	font-size: 12px;
    padding: 12px 0;
    overflow: hidden;
    display: block;
}
.gen-border{
	border: solid #ff9900 1px;
	color:#ff9900;
}
.gen-border h1{
	line-height: 108px;
	font-size: 16px;
	text-align: center;
}
.gen-border:hover{
	border: solid #E4B744 1px;
	color: #E4B744;
}
.loadout-container-header{
background-color: rgba(7, 7, 7, 0.8);
    padding: 0 8px;
}
.Pname,.Hname,.kitname{
	position: absolute;
	right:0;
}
.loadout-container-header h1{
	line-height: 23px;
    color: #d5dde5;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    position: relative;

}
.active-borders-left{
	border-left: solid #353a3f 1px;/*1/960*/
}

.box-content{
	background-color: rgba(7, 7, 7, 0.5);
	display:block;
	margin-top: 1px;
}
.box-content:hover{
	background: #000;
	cursor: pointer;
}
.box-content::after {
	clear: both;
}
.loadout-tablet{
	display: none;
}
.container{
	padding: 20px;
	padding-bottom: 20px;
	background-color: rgba(7, 7, 7, 0.5);
}
.gun-container{
	padding: 0 10px;
}
.gun{
	height: 100%;
}
.item{
	height: 29.4px;
	position: relative;

}
.item h1{
	font-size: 16px;
}
.picture-container{
	padding: 3px 0 0px 5px;
	height: 100%;
	width: 100px;
	float: left;
}
.items .itempic{
	height: 100%;
}
.itemname{
	float: right;
	height: 100%;
	width: 220px;
	padding: 5px 0 0 10px;
}
/*larger than phones*/
@media (max-width: 767px) {
	#head {
		position: fixed;
		z-index: 1;
	}
	.loadout-item-container {
		width: 320px;
	}
	.loadout-kit{
		position: fixed;
		z-index: 1;
		width: 100%;
		bottom: 0;
		background: #191c21;
	}
	.gen-border h1 {
		line-height: 65px;
	}
	.loadout-container-wpr {
		margin-bottom: 100px;
	}
}
@media (min-width: 768px) {
	.nav .menu{
		width: 100%;
		margin: 0;
		position: relative;
	}
	.nav a{
		line-height: 47px;
		text-decoration:none;
		display: block;
		color: #d5dde5;
		width: 140px;
		text-align: center;
		font-size: 16px;
	}
	.left{
		position: absolute;
		top: 0;
		right: 0;
	}
	.active-borders-right{
		border-right: solid #353a3f 1px;
	}
	.loadout-container-wpr,.container{
		max-width: 768px;
	}
	.loadout-kit {
		height: 400px;
	}
	.kit-picture .picture{
		display: block;
		height: 280px;
	}
	.loadout-tablet{
		display: block;
		width: 100%;
	}
	.loadout-tablet tr,td,div{
		margin:0;
		padding: 0;
	}
	.loadout-tablet-item-container{
		width: 384px;
		height: 400px;
	}

	.items .item{
		height: 74.4px;
		position: relative;
	}
	.items .picture-container{
		padding: 25px 0 20px 5px;
		height: 100%;
		width: 100px;
		float: left;
	}
	.items .itemname{
		float: right;
		height: 100%;
		width: 284px;
		padding: 25px 0 0 10px;
	}

	.gun-container{
		height: 112px;
		padding-top: 20px;
	}
	.gun{
		margin-left: 50px;
		height: 100%;
	}
}
/* Larger than desktop */
@media (min-width: 1155px) {
	.loadout-container-wpr{
		max-width: 1140px;
	}
	.loadout-item-container{
		height: 400px;
	}
	.loadout-kit{
		height: 400px;
		display: inline-block;
		vertical-align: top;
	}
	.loadout-tablet{
		display: none;
	}
	.gun{
		margin-left: 0;
		height: 92px;
	}
	.kit-picture .picture{
		background-size: 100%;
	}
	.items .itemname{
		float: right;
		height: 100%;
		width: 160px;
		padding: 25px 0 0 10px;
	}
}
